[submodule "libraries/amr-libraries"]
	path = libraries/amr-libraries
	url = https://github.com/pathogenwatch/amr-libraries
	branch = main
[submodule "libraries/amr-test-libraries"]
	path = libraries/amr-test-libraries
	url = https://github.com/pathogenwatch/amr-test-libraries
	branch = main
