**/workings/**

.idea/
*.iml
build/databases/
build/paarsnp-builder.jar
build/paarsnp.jar
paarsnp-builder/dependency-reduced-pom.xml
paarsnp-builder/target/
paarsnp-lib/target/
paarsnp-runner/target/

venv/
